<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
<!--   
  <bean id="emp" class="com.cyc.beans.Employee" >
  <property name="Emp" ref="own"/>
  </bean>
 <bean id="own" class="com.cyc.beans.Owner" >
 <property name="own" ref="emp"></property>
 </bean> -->
 
  <bean id="empm" class="com.cyc.beans.Employee" >
  <constructor-arg ref="own"/>
  </bean>
  <bean id="own" class="com.cyc.beans.Owner" />
 
 
</beans>